header {
    width: 100%;
}

@media (min-width: 1281px) and (max-width: 1920px) {
    body {
        background: url("/img/background_1920.jpg") no-repeat fixed;
    }
}

@media (min-width: 961px) and (max-width: 1280px) {
    body {
        background: url("/img/background_1280.jpg") no-repeat fixed;
    }
}

@media (min-width: 769px) and (max-width: 960px) {
    body {
        background: url("/img/background_960.jpg") no-repeat fixed;
    }
}

@media (max-width: 768px) {
    body {
        background: url("/img/background_768.jpg") no-repeat fixed;
    }
    #main .section {
       width: 100%;
    }
}

div.header h1 {
    float: left;
}

div.header {
    float: left;
    width: 100%;
}

div.who-am-i {
    float: right;
    background-color: rgba(255,255,255,.2);
    padding: 6px;
    border-radius: 6px;
}

#main .section.wiki, #main .section.messages {
    max-width: 960px;
    min-width: 460px;
}    

#main .section.members {
    max-width: 960px;
    min-width: 320px;
}    

#main .section{
    position:relative;
    float: left;
    margin: 0;
    padding: 0;
}

#main .sectionArea {
    padding: 10px;
}

#main .membersSchedule {
    margin-top: 1em;
}

#main .members table {
    border-spacing: 0px;
}

#main .members td {
    height: 1em;
}

#main .members .day {
    margin:0px;
    padding: 0px 3px;
    width: 20px;
    text-align: center;
}

#main .members .day.yes {
    border: #b4ffb4 solid;
    background-color: #cfc;
}

#main .members .day.no {
    border: #ff9393 solid;
    background-color: #faa;
}

#main .members .day.maybe {
    border: #ccc solid;
    background-color: #ddd;
}

#main .members a.day {
    cursor: pointer;
}


.ta-editor{
    min-height: 300px;
    height: auto;
    overflow: hidden;
    font-family: inherit;
    font-size: 100%;
}

.ng-cloak {
    display: none !important;
}

#chat {
    position: fixed;
    bottom: 0px;
    border-top: grey solid 1px;
    border-right: grey solid 1px;
    border-radius: 0 10px 0 0;
    padding: 10px;
}

#chat .chatMessages {
    max-height: 140px;
    overflow-y: scroll;
}

#chat h3 {
    margin-top: 0px;
    padding-top: 0px;
}

a {
    cursor: pointer;
    color: blue;
}

/**
 * Message section.
 */

#thread-list div.header {
    cursor: pointer;
}

#thread-list div.legend > div {
    float: left;
    font-weight: bold;
}

#thread-list div.header > div {
    float: left;
    padding-top: 3px;
    padding-bottom: 3px;
}

#thread-list div.title {
    width: 40%;
    padding-right: 2%;
}

#thread-list div.user {
    font-style: italic;
}

#thread-list div.num-replies {
    width: 10%;
}

#thread-list div.metadata {
    padding-left: 2%;
    width: 22%;
}

div.compose {
    width:100%;
    min-height: 3em;
    border: 1px solid grey;
}

div.thread-content button {
    float:right;
}

div.display-menu {
    float: left;
    width: 100%;
    position:relative;
}

div.compose-wrapper {
    width: 100%;
}
div.compose-wrapper textarea {
    width: 100%;
}

/**
 * Display panel
 */

#display-panel {
    position: absolute;
}

#display-panel > div {
    background-color: rgba(255,255,255, .9);
    z-index: 40;
    border: 1px solid blue;
    border-radius: 3px;
    min-width: 160px;
    min-height: 160px;
}

#display-panel > div > div.content {
    width: 100%;
    height: 100%;
}

.display-panel > div div.thread-content {
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
    margin: 25px 0px 0px 0px;
    padding: 0px 6px 0px 8px;
    bottom: 0px;
    right: 0px;
}

.drag-handle {
    position:relative;
    float: left;
    width: 100%;
    cursor: move;
}

.btn-close {
    position:relative;
    cursor: pointer;
    background-color: #bbd;
    border: 1px solid #446;
    border-radius: 3px;
    padding: 1px 5px;
    float: right;
}

#display-panel .ui-resizable {
    height: auto;
    float:left;
}

div.thread-content div.header {
    float: left;
    width: 100%;
    padding-bottom: 5px;
}

div.thread-content div.title {
    float:left;
    font-weight: bold;
    padding: 3px 0px;
}

div.thread-content div.user {
    float:right;
    font-style: italic;
}

div.thread-content div.body {
    position: relative;
    padding: 3px;
    width: 100%;
    overflow: wrap;
}

div.thread-content .reply {
    margin-top: 10px;
    padding: 4px 0px 0px 5px;
    border-top: 1px solid grey;
}

div.thread-content .reply .body {
    margin: 0px 50px 0px 0px;

}

div.thread-content .do-reply {
    padding-top: 15px;
}

div.new-thread {
    float: left;
    margin-top: 20px;
}


