<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="club" ng-controller="HomeController">
 <head>
   <meta charset="utf-8" />
   <meta name="Jonathan Villemaire-Krajden" content="" />
   <title>Plan Nord</title>
   <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

   <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
   <link rel="apple-touch-icon-precomposed" sizes="64x64" href="/static/favicon_64.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_32.png">
   <!-- add styles -->
   <link href="css/style.css" rel="stylesheet" type="text/css" />
   <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
   <script type="text/javascript">
     var eventer = {
       home: "/{{ user.hash }}",
       name: "{{ user.name }}",
       init: {
         members : {% raw json_encode(users) %},
         presence : {% raw json_encode(user.presence()) %},
         messages : {% raw json_encode(messages) %},
       },
     };
   </script>

 </head>
 <body>

   <header>
     <div class="header wrap">
       <a href="/{{ user.hash }}"><h1>Plan Nord</h1></a>
       <div class="who-am-i">{{ user.name }}</div>
     </div>
   </header>

   <!-- main content -->
   <div id="main">

     <!-- Display panel -->
     <div id="display-panel" class="display-panel" ng-controller="DisplayController" ng-show="visible">
     </div>

     <!-- Plans -->
     <div class="section wiki">
       <div class="sectionArea">
         <h3>Plans:</h3>
         <hr>
         <div id="wikipad" padId="{{ settings['padId'] }}" ></div>
       </div>
     </div>

     <!-- Members -->
     <div class="section members">
       <div class="sectionArea">
         <h3>Invités:</h3>
         <hr>
         <div id="presenceMenu" class="presenceMenu" ng-model="presence" ng-controller="PresenceController">
           <b>Mes disponibilités</b>:<br>
           <div class="menu">
             <a ng-repeat="p in presence" ng-click="select(p)" title="{{! ['Impossible', 'Disponible', 'Peut-être'][p[1]] }}" class="day {{! ['no', 'yes', 'maybe'][p[1]] }}" ng-cloak>{{!p[0]}}</a>
           </div>
           <div ng-show="changed" ng-cloak>
             <button ng-click="confirm()">Confirmer</button>
           </div>
         </div>
         <div class="membersSchedule">
           <b>La gang!</b>
           <table id="members" ng-model="members" ng-controller="MembersController" ng-cloak>
             <tbody>
               <tr ng-repeat="member in members">
                 <td>{{!member.name}}</td><td ng-repeat="presence in member.presence" class="day {{! ['no', 'yes', 'maybe'][presence[1]] }}">{{!presence[0]}}</td>
               </tr>
             </tbody>
           </table>
           <div class="invite-new">
             
           </div>
         </div>
       </div>
     </div>

     <!-- Messages -->
     <div id="messages" class="section messages">
       <div class="sectionArea" ng-model="messages" ng-controller="MessageController" ng-cloak>
         <h3>Messages:</h3>
         <hr>
         <div id="thread-list" class="thread-list">
           <div class="thread-listing" ng-repeat="thread in threads" id="thread-{{!thread.threadId}}">
             <div class="header expand-action" ng-click="display(thread)">
               <span class="title {{! thread.newClass }}" title="{{!thread.title}}">{{! thread.title|truncate:60 }}</span>
               <span class="user">{{!thread.user.name}}</span>
               <span class="num-replies">{{!thread.replies.length}}</span>
               <span class="date-created">{{!thread.created}}</span>
               <span class="date-updated">{{!thread.last_response}}</span>
             </div>
           </div>
         </div>
       </div>
       <div class="new-thread" ng-controller="NewMessageController">
         <label>sujet</label>
         <input ngMaxlength="140" ng-model="comment.title" /><br >
         <label>Message</label>
         <textarea ng-model="comment.comment"></textarea>
         <button ng-click="sendMessage()">Envoyer</button>
       </div>
     </div>
   </div>

   <!-- Chat -->
   <div id="chat" class="chat" ng-model="chat", ng-controller="ChatController">
     <a ng-click="toggle()"><h3 title="Messagerie instantanée">Chat</h3></a>
     <div class="chatArea" ng-cloak ng-show="chatVisible">
       <div class="chatMessages">
         <div class="chatWindow">
           <div ng-repeat="message in messages" class="message {{!message.userId}}">
             <span title="Envoyé le {{!message.date}}" class="username">{{!message.nickname}}</span>&nbsp:&nbsp;<span class="text" ng-bind-html="message.text"></span>
           </div>
         </div>
       </div>
       <hr>
       <div class="response">
         <textarea ui-keypress="{13:'sendChat($event)'}" ng-maxlength="400" ng-model="chatMessage"></textarea>
         <button ng-click="sendChat()">Envoyer</button>
       </div>
     </div>

   </div>


   <!-- add javascripts -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
   <script src="/js/vendor/ui-utils.min.js"></script>
   <script src="/js/vendor/etherpad.js"></script>
   <script src="/js/app.js"></script>
   <script src="/js/directives.js"></script>
   <script src="/js/controllers.js"></script>
   <script src="/js/filters.js"></script>
 </body>
</html>
