<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app>
 <head>
   <meta charset="utf-8" />
   <meta name="Jonathan Villemaire-Krajden" content="" />
   <title>Plan Nord</title>
   <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

   <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
   <link rel="apple-touch-icon-precomposed" sizes="64x64" href="/static/favicon_64.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_32.png">
   <!-- add styles -->
   <link href="css/style.css" rel="stylesheet" type="text/css" />

 </head>
 <body>

   <header>
     <div class="header wrap">
       <a href="/{{ user.hash }}"><h1>Plan Nord</h1></a>
     </div>
     End header {{ 2-1 }}
   </header>

   <!-- main content -->
   <div id="main">
     <div class="wiki">
       <text-angular ng-model="wikiContent">
       </text-angular>
     </div>
   </div>
   <!-- add javascripts -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js"></script>
   <script src="/js/vendor/textAngular.js"></script>
   <script src="/js/directives.js"></script>
   <script src="/js/app.js"></script>
   <script src="/js/controllers.js"></script>
 </body>
</html>
